/*
Default configuration settings.

Copy this file to Configuration.js before attempting to run Jinx
*/
const package = require('./package.json');

module.exports = {
    api: {
        userAgent: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) Jinx/${package.version}`
    },
    atlas: {
        admins: {},
        host: '',
        password: '',
        poll: 5000,
        ports: [],
    },
    commandPrefix: '!',
    discord: {
        token: ''
    },
    radio: {
        host: 'live.hammeradio.com',
        port: 8000,
        protocol: 'http'
    }
};
