/*
Default configuration settings.

Copy this file to Configuration.js before attempting to run Jinx
*/
module.exports = {
    api: {
        userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) Jinx/0.1.0'
    },
    atlas: {
        admins: {},
        host: '',
        password: '',
        poll: 5000,
        ports: [],
    },
    commandPrefix: '!',
    discord: {
        token: ''
    },
    radio: {
        host: 'live.hammeradio.com',
        port: 8000
    }
};
