module.exports = {
    api: {
        userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) Jinx/0.1.0'
    },
    commandPrefix: '!',
    discord: {
        token: ''
    },
    rethinkdb: {
        db: '',
        host: '',
        password: '',
        port: '',
        user: ''
    }
};
